<div class="">
  <div class="container has-text-centered">
    <section class="container is-fluid">
      <section class="hero">
          <p class="title is-1 block blue">
            ${thisShow.title}
          </p>
          <p class="subtitle is-4 block">
            <img class="m-1" src="${thisShow.poster}" alt="" >
          </p>
          <div class="m-1 columns">
            <div class="column is-one-half has-text-left">
              <h3 class="title is-4 pink">Details:</h3>
              <p class="subtitle is-6 white">
                <b>Where to Watch:</b> ${thisShow.where2watch}
                <br>
                <b>Actors:</b> <a href="/actors/${thisShow.actor1_id}">${thisShow.actor1_name}</a>, <a href="/actors/${thisShow.actor2_id}">${thisShow.actor2_name}</a>, and <a href="/actors/${thisShow.actor3_id}">${thisShow.actor3_name}</a>
                <br>
                <b>Dates Aired:</b> ${thisShow.dates_aired}
                <br>
                <b>Category:</b> <a href="/categories/${thisShow.cat_id}">${thisShow.cat_name}</a>
                <br>
              </p>
            </div>
            <div class="column is-one half">
              <h3 class="title is-4 pink">Summary:</h3>
              <p class="subtitle is-4 white">
                ${thisShow.plot}
              </p>
            </div>
          </div>
      </section> 
    </section>
  </div>
</div>
<div >
  <ul class="wrap">
    ${thisShowReviews.map(review =>
      `<li class="width-set">
        <h3 class="bold">${review.tagline}<br>${review.user_first_name}</h3>
        <h4 class="bold smaller">${review.posting_date}</h4>
        <hr>
        <h4 class="bold">${review.rating}<br>${review.stars} out of 5 stars</h4>
        
        <hr>
        <p class="review-p">${review.review_body}</p>
      </li>`
      ).join('')}
  </ul>
</div>
${!!is_logged_in ?
  `<div>
    <form class="side-padding width-set" action="/shows/${thisShow.id}" method="POST">
      <input type="hidden" name="user_id" value='${user_id}'>
      <label for="">Add a review:</label>
      <br>
      <label for="tagline">Create a tagline:</label>
      <br>
      <input class="is-rounded border-dark" type="text" id="tagline" name="tagline">
      <br>
      <textarea class="textarea is-rounded border-dark" placeholder="Textarea" name="review_body"></textarea>
      <br>
      <label for="">How many stars would you give this show?</label>
      ${getRatings.map(rating => 
        `<div class="choices">
          <input type="radio" id="stars" name="stars_id" value="${rating.id}" required>
          <label class="background" for="stars">${rating.name} (${rating.stars} out of 5 stars)</label>
        </div>`
      ).join('')}
      <button type="submit">Submit</button>
    </form>
  </div>`
  :
  `<div>
    <p><a href="/users">Login to leave a review.</a></p>
  </div>`
}
